.BG {
  width: 100%;
  height: 9vh;
  background-color: #2d2827 !important;
}

.Image-Holder {
    width: 100%;
    height: 667px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/home.jpg);
}

.Image-Holder-small-1 {
  width: 100%;
  height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  background-image:url("../images/beanie.jpg"
  )
}
.Image-Holder-small-2 {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/higheel.jpg"
    )
}
.Image-Holder-small-3 {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/outfit.jpg"
    )
}


.Bg {
  width: 100%;
  height: 640px;
  background-color: #f5f5f5;
}

.col {
  text-align: center;
}
.col {
  margin-top: 5%;
  text-align: left;
}
.Free-shipping {
  padding: 0px;
  width: 100%;
  height: 12px;
  font-family: SourceSansPro;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 0.90px;
  text-align: center;
  color: #b8b5b5;
  }

.Featured-Product {
  width: 100%;
  height: 128px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.Line {
  width: 5%;
  margin-top: -30px;
  height: 2px;
  background-color: #a88d7b;
}

.BG2 {
  width: 100%;
  height: 750px;
  background-color: #ffffff;
}
.Image-Holde1 {
  width: 100%;
  height: 373px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/rich-man.jpg"
  )
}
.Image-Holde2 {
  width: 100%;
  height: 373px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/yellow.jpg"
    )
}

.BG3 {
    width: 100%;
    height: 455px;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/main-tamplate.jpg);
}

.Image-Holde3 {
  width: 100%;
  height: 325px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/new.jpg"
    )
}

.BG4 {
  width: 100%;
  height: 665px;
  background-color: #f9f9f9;
}

.Praesent-eget-sapien-ipsum-Ut-egestas-gravida-orci-Aenean-pel {
  width: 100%;
  height: 239px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.footer {
  width: 100%;
  height: 335px;
  background-color: #2d2827;
  color: white;
}

.N-a-T-e-B {
  width: 100%;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #e5e5e5;
}

/*achmat*/
.N-A-T-E-B {
  margin-top: -25px;
  width: 100%;
  height: 21px;
  font-family: Dosis;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
}
.Blog {
  width: 100%;
  height: 12px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.50px;
  text-align: left;
  color: var(#ffffff);
}
.Contact {
  width: 100%;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.50px;
  text-align: left;
  color: var(#ffffff);
  }
.LOOKBOOK {
  width: 100%;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.50px;
  text-align: left;
  color: var(#ffffff);
}
.About {
  width: 100%;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.94px;
  text-align: left;
  color: var(#ffffff);
}
.Shop {
  width: 100%;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.94px;
  text-align: left;
  color: var(#ffffff);
}
.Home {
  width: 100%;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.94px;
  text-align: left;
  color: var(#ffffff);
}
.search{
  width: 58px;
  height: 23px;
  font-family: Linearicons-Free;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: right;
  color: var(--white-five);
}

/*cheese-burger-style*/
.link {
    width: 100%;
}
.col{
  text-align: left;
}
.nate {
  margin-top: 3rem;
  width: 232px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
.nate {
  font-family: Linearicons-Free;
}
.nate-links {
  width: 40px;
  height: 69px;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5
;
}

.nate-2 {
  width: 56px;
  height: 11px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
.Women {
  width: 47px;
  height: 11px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.row-margin{
  margin-right: 0 !important;
}

.Womens-Fashion-Designed-Clothing {
    width: 100%;
    font-family: Dosis;
    font-size: 57px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

/*---text aligning---*/
.padding {
    margin-top: 6%;
    padding: 116px 10px 10px 10px;
    text-align: center;
}

.Nullam-tincidunt-leo-mollis {
    width: 100%;
  font-family: SourceSansPro;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  text-shadow: 0px 0px 3px #504f4f;
  color: #e6e6e6;
}

.btn-default {
  padding-left: 50px;
  background-color: #a88d7b;
  color: #ffffff;
  height: 40px;
  width: 150px;
  font-size: 15px;
  padding: 9px;
  text-align: center;
  border-radius: 20px;
  font-family: SourceSansPro;
  font-stretch: normal;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  border: 3px solid rgb(77, 66, 55)
  rgb(158, 153, 147);
  display: inline-block;
}

.btn-default:hover {
  background: rgb(134, 108, 74);
}

.btn-default:active {
  background: rgb(66, 48, 28);
}

.Nullam-tincidunt-leo-mollis2 {
    width: 60%;
    font-family: SourceSansPro;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    text-shadow: 0px 1px 2px #020202;
    color: #e6e6e6;
}

.Womens-Fashion-Designed-Clothing2 {
  width: 59%;
  height: 200px;
  padding-left: 29px;
  padding-top: 83px;
  line-height: 58px;
  font-family: Dosis;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.Instagram {
  width: 91px;
  height: 66px;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Text-Holder {
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
}
.View-More {
  width: 73px;
  height: 10px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff !important;
}
/*button-------------------------------------*/

.text-uppercase-font-weight-bold {
  width: 339px;
  height: 53px;
  font-family: SourceSansPro;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.92;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}
.Praesent-eget-sapien-ipsum-Ut-egestas-gravida-orci-Aenean-pel {
  width: 529px;
  height: 239px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}

.last {
  width: 1900px;
  height: 85px;
  background-color: var(--white-two);
}